<!DOCTYPE html>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<script src="assets/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class=".container-fluid">
    <div class="row">
        <div class="col">
            {% for btn in btns %}
            <form action="{{url_for(btn[1])}}">
                <input type="submit" value="{{btn[0]}} ({{btn[1]}})" class="btn-secondary btn-lg btn-block">
            </form>
            {% endfor %}
        </div>
        <div class="col">
            <div class="alert alert-success" role="alert">
                Last Message: <strong>{{data["message"]}}</strong>
            </div>
            <div class="alert alert-info" role="alert">
                State:<strong>{{data["state"]}}</strong>
            </div>
            <div class="alert alert-secondary" role="alert">
                States: {{states}}
            </div>
        </div>
    </div>
    <form action="{{url_for('web_config')}}">
        <input type="submit" value="Config" class="btn-info btn-sm btn-block">
    </form>
</div>

</body>
</html>